name: love_diary
description: An Android diary application designed for long-distance relationships, allowing couples to track their daily moods, milestones, and memories.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  provider: ^6.1.1
  shared_preferences: ^2.2.2
  sqflite: ^2.3.0
  path: ^1.8.0
  intl: ^0.19.0
  flutter_local_notifications: ^16.3.2
  image_gallery_saver: ^2.0.3
  permission_handler: ^11.0.1
  path_provider: ^2.1.1
  share_plus: ^7.2.1
  go_router: ^12.1.3
  flutter_svg: ^2.0.9

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  
  # Assets
  assets:
    - assets/images/
    - assets/icons/
  
  # Fonts
  fonts:
    - family: CustomIcons
      fonts:
        - asset: assets/fonts/custom_icons.ttf